<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  
<!-- ***** Libraries ***** -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
  <script type="text/javascript" src="/javascripts/scripts_exp.js"></script>

</head>

<body>

<table>
	<tr>
		<th width="100px">Groups</th>
		<th width="300px">Individuals</th>
		<th width="200px">Create / Edit</th>
	</tr>
	<tr>
		<td style="text-align:center;" width="100px" valign="top">
		  <div style="margin:5px;">
		  	<button class="group" id="friends">Friends</button>
		  </div>

		  <div style="margin:5px;" width="100px">
		  	<button class="group" id="frenemies">Frenemies</button>
		  </div>

		  <div style="margin:5px;" width="100px">
		  	<button class="group" id="family">Family</button>
		  </div>

		  <div style="margin:5px;" width="200px">
		  	<button class="group" id="work">Work</button>
		  </div>
  		</td>
  	  	<td width="300px" style="" valign="top">
  	  		<div>
  	  			<ul style="list-style-type:none;" id="contact-list">
  	  				
  	  			</ul>
  	  		</div>
  	  	</td>
  	  	<td width="200px" style="text-align:center; margin:10px" valign="top">
  	  		<form id="new-contact">
  	  			<input type="text" name="name" placeholder="name"/>
  	  			<input type="text" name="age" placeholder="age"/>
  	  			<input type="text" name="address" placeholder="address"/>
  	  			<input type="text" name="phone" placeholder="phone number"/>
  	  			<input type="text" name="picture" placeholder="image url"/>
  	  			<select id="category">
  	  				<option type="text" value="1">Friends</option>
  	  				<option type="text" value="2">Frenemies</option>
  	  				<option type="text" value="3">Family</option>
  	  				<option type="text" value="4">Work</option>

<!--   	  				<option type="text" value="2">Family</option>
  	  				<option type="text" value="4">Work</option> -->
  	  			
  	  			</select>
  	  			<!-- <input type="hidden" name="category_id" value="<%= category_id %>"/> -->
  	  			<button type="submit" id="add"/>Submit</button>
  	  		</form>
  	  	</td>
  	 </tr>
 </table>




</body>
</html>