body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: black;
	background-color: #ededed;
}

label {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: black;
}

button {
	border-radius: 28%;
	border-width: 3px;
	margin: 1px;
}

li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: gray;
}

input {
	background-color: lightyellow;
}

select {
	background-color: lightyellow;
}

ul {
	list-style-type: none;
}

img {
	border-radius: 25%;
	border: 2px gray solid;
}

.group {
	background-color: lightblue;
}

.edit {
	background-color: lightgreen;
}

.delete {
	background-color: lightpink;
}

.add {
	background-color: lightyellow;
}

.search {
	background-color: lightyellow;
}

.left {
	float: left;
	word-wrap: normal;
}

.right {
	float: right;
}